data/*
config/*
deliverables/*
.vscode/*

#py
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Environment variable files
.env
.env.*
!.env.example

# editors tools
vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# logs 
*.log
*.tmp
*.bak
programinfo.txt
TODO.txt
updates.txt
tierslist_tiers.txt
drafts/
